:root {
  --main-color: #434455;
  --main-color2: #2e2f42;
  --main-color3: #404bbf;
  --font-family1: 'Roboto', sans-serif;
  --font-family2: 'Raleway', sans-serif;
}

.index-header {
  border-bottom: 1px solid #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* index body css */
.container-header {
  display: flex;
}

/* container */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-header {
  display: flex;
  align-items: center;
}
.studio {
  color: #2e2f42;
}

.studio_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studioport {
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
/* index and portfolio nav  menu on header */
.menu {
  display: flex;
  gap: 40px;
}
.linknav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.linknav:hover {
  color: #404bbf;
}
.linknav:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
.addr-list {
  display: flex;
  gap: 40px;
}

.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 40px;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.contacts {
  list-style: none;
}
/* logo css */
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.sectf {
  background-color: #2e2f42;
  padding: 188px 0;
}

.sec-head {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.btn-sec {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.btn-sec:hover {
  background-color: #404bbf;
}
.btn-sec:focus {
  background-color: #404bbf;
}
.sect-two {
  padding: 120px 0;
}
/* section 2 index */
.head-sectiontwo {
  margin-bottom: 8px;
}
.list-sectwo {
  display: flex;
  gap: 24px;
}
.sectwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
/* section three index */
.sec-three {
  padding-bottom: 120px;
}
.hsectree {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-secthree {
  display: flex;
  gap: 24px;
}

/* paragraph */
.parone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* section four index */

.sec-fournp {
  padding: 32px 0;
}

.list-four {
  display: flex;
  gap: 24px;
}
.sec-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

/* footer index */
.firstl {
  background-color: #ffffff;
}
.ftr {
  background-color: #2e2f42;
  padding: 100px 0;
}
.ftl {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

/* this content is portfolio */

/* portfolio header */
.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
}

.nav_portfolio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.addr {
  font-style: normal;
}
.contacts {
  list-style: none;
}
.portcon {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portcon:hover {
  color: #404bbf;
}
.portcon:focus {
  color: #404bbf;
}
/* porfolio main section */

/* for the section 1 in the main of the portfolio */

.portfolio-secondlist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-secondlist:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-secondlist li {
  margin-bottom: 48px;
}
.portfolio-secondlist:nth-child(n + 7) {
  margin-bottom: 0;
}

.secondlist-list {
  width: calc((100% - 48px) / 3);
}

.listing-index {
  width: calc((100% - 72px) / 4);
}
.list-list {
  width: calc((100% - 48px) / 3);
}

.firstlist-sectionfour {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.application-namecategory {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.application-namecategory h2 {
  margin-bottom: 8px;
}

.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-section {
  padding: 96px 0 120px 0;
}

.section1_portfolio {
  list-style: none;
}
.btnp {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btnp:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.btnp:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.portfolio-firstlist {
  width: 370px;
}

/* portfolio image Header and paragraph */
.ftrp {
  color: #f4f4fd;
}

/* footer for index and portfolio */
.ftr_paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* visibility-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* global */
img {
  display: block;
}
