:root {
  --main-color: #434455;
  --main-color2: #2e2f42;
  --main-color3: #404bbf;
  --font-family1: 'Roboto', sans-serif;
  --font-family2: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.studio {
  color: #2e2f42;
}

.studio_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studioport {
  color: #2e2f42;
}
ul {
  list-style-type: none;
}

.linknav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.linknav:hover {
  color: #404bbf;
}
.linknav:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.sectf {
  background-color: #2e2f42;
}
.sec-head {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.btn-sec {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn-sec:hover {
  background-color: #404bbf;
}
.btn-sec:focus {
  background-color: #404bbf;
}

.sectwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* paragraph */
.parone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hsectree {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.sec-four {
  background-color: #f4f4fd;
}
.firstl {
  background-color: #ffffff;
}
.ftr {
  background-color: #2e2f42;
}
.ftl {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* this content is portfolio */
.nav_portfolio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* for the section 1 in the main of the portfolio */
.section1_portfolio {
  list-style: none;
}
.btnp {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.btnp:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btnp:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.addr {
  font-style: normal;
}
.contacts {
  list-style: none;
}
.portcon {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portcon:hover {
  color: #404bbf;
}
.portcon:focus {
  color: #404bbf;
}
/* portfolio image Header and paragraph */
.ftrp {
  color: #f4f4fd;
}
.ftr_paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
